
body {
    background-color: rgb(238, 238, 238);
    color: rgb(10, 9, 34);
}

label {
    width: 150px;
}

input {
    width: 100px;
}

#submit {
    background-color: rgb(53, 157, 53);
    width: 100px;
    margin-left: 154px;
    font-weight: bold;
}